
.main-body{
    min-height: 800px;
}

#isi-data{
    min-height: 800px;
}

.img-list, .info-card {
    height: 260px;
    max-height: 280px;
    overflow: hidden;
}
.img-list{
    max-width: 180px;
    overflow: hidden;
    float: left;
}
.img{
    max-height: 300px;
    width: 100%;
    display: block;
}
.alur{
    display: block;
}
.info-card a{
    text-decoration: none;
}

.card-list{
    transition: .4s;
}

.card-list:hover{
    box-shadow: 0 .5rem 1rem rgba(100,10,100,.15)!important;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 400px) {
    .img-list{
        max-width: 100px;
        transform: translate(0%, 20%);
    }
    
    .info-card a{
        font-size: 14px;
    }

    .card-list{
        margin-right: 5px;
    }
    
    .genre{
        font-size: 12px;
    }
    
    .alur{
        font-size: 13px;
    }

    .myButton {
        padding: 3px 20px;
    }

    .tanggal {
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .img-list{
        max-width: 150px;
        transform: translate(0%, 5%);
    }

    .genre{
        font-size: 12px;
    }
    
    .alur{
        font-size: 13px;
    }

    .myButton {
        padding: 3px 20px;
    }

    .tanggal {
        font-size: 13px;
    }
}

@media (max-width: 780px) {
    .img-list{
        max-width: 160px;
        transform: translate(0%, 4%);
    }

    .genre{
        font-size: 13px;
    }
    
    .alur{
        font-size: 14px;
    }

    .myButton {
        margin-top: 20px;
        padding: 3px 24px;
    }

    .tanggal {
        font-size: 14px;
    }
}