.view {
    position: relative;
}

.view-manga {
    position: relative;
    width: 100%;
    min-height: 1080px;
}


.main-body {
    border-right: none;
}


.top {
    position: relative;
    display: none;
}

.btn-top {
    overflow: hidden;
    position: fixed;
    right: 10%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    background: rgba(42, 0, 25, .5);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn-top i {
    padding: 0;
    margin: 0;
    font-size: 40px;
    color: white;
}

#view-paging {
    position: relative;
    display: none;
    padding: 0;
    margin: 0;
    background: transparent;
}

#view-paging a {
    position: fixed;
    bottom: 10%;
}

#view-paging a.prev {
    left: 35%;
}

#view-paging a.next {
    right: 35%;
}

@media (max-width: 760px) {
    #view-paging a {
        bottom: 5%;
    }
}